.top-main-menu {
    height: 28px;
    min-width: 750px;
    display: flex;
    padding-bottom: 4px;
    border-bottom: 1px solid #c7c7c7;
}

.top-main-menu__item {
    background: #c7c7c7;
    font-size: 12px;
    padding: 0 15px;
    margin-right: 5px;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-main-menu__item:hover {
    background: #4b4b4b;
    color: #c7c7c7;
}