.top-main-menu {
    height: 32px;
    min-width: 750px;
    display: flex;
    border-bottom: 1px solid #afafaf;
    position: relative;
}

.top-main-menu__item {
    color: #4b4b4b;
    font-size: 12px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-main-menu__item:hover {
    background: #038fee;
    color: #ececec;
}

.logo {
    background: url('./res/comma.svg') no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}