@import "../../ColorConstants.css";

.mainMenu {
    height: 32px;
    min-width: 750px;
    display: flex;
    border-bottom: 1px solid var(--theme-color-2);
    position: relative;
}

.item {
    color: var(--theme-color-4);
    font-size: 12px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item:hover {
    background: var(--theme-color-1);
    color: var(--theme-color-3);
}

.logo {
    background: url('./res/comma.svg') no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}