.sidebar {
    border-right: #525252 1px solid;
    display: flex;
    flex-direction: column;
}

.slides-container {
    width: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 97%;
}

.slides-container::-webkit-scrollbar {
    display: none;
}

.slides-info {
    color: #4b4b4b;
    font-size: 12px;
    border-top: #525252 1px solid;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-slide-btn {
    border-radius: 0;
    border: 1px solid #3d77b4;
    margin: 5px 0 20px;
}

.add-slide-btn:hover {
    background: aqua;
}

.hidden {
    display: none !important;
}