.sidebar {
    border-right: #afafaf 1px solid;
    display: flex;
    flex-direction: column;
}

.slides-container {
    width: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 97%;
}

.slides-container::-webkit-scrollbar {
    display: none;
}

.additional-info {
    color: #4b4b4b;
    font-size: 12px;
    border-top: #afafaf 1px solid;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-slide {
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    margin: 5px auto 20px;
    cursor: pointer;
}

.add-slide:hover {
    background-color: #30a7ff;
    color: #ececec;
}

.hidden {
    display: none !important;
}