@import "../../ColorConstants.css";

.sidebar {
    border-right: var(--theme-color-2) 1px solid;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.slidesContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 97%;
}

.slidesContainer::-webkit-scrollbar {
    display: none;
}

.additionalInfo {
    overflow: hidden;
    height: 3%;
    color: var(--theme-color-4);
    font-size: 12px;
    border-top: var(--theme-color-2) 1px solid;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addSlide {
    color: var(--theme-color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    margin: 5px auto 20px;
    cursor: pointer;
}

.addSlide:hover {
    background-color: var(--theme-color-1);
    color: var(--theme-color-3);
}

.hidden {
    display: none !important;
}