@import "../../StyleConstants.css";

.toolbar {
    border-left: 1px solid var(--theme-color-2);
    width: 10%;
    display: flex;
    flex-direction: column;
    padding: 0 1.3%;
}

.heading {
    margin: 20px auto 10px;
    font-weight: bold;
    width: min-content;
    color: var(--theme-color-4);
}

.elementButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 15%;
}

.elementButtonsContainer div {
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.addRect {
    background: url('./res/rectangle.svg');
}

.addTriangle {
    background: url('./res/triangle.svg');
}

.addCircle {
    background: url('./res/circle.svg');
}

.addPicture {
    background: url('./res/picture.svg');
}

.addText {
    background: url('./res/text.svg');
}

.toolList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolList div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toolList div input {
    margin: 0;
    padding: 0;
    width: 35%;
    border: 1px solid;
    box-sizing: border-box;
}

.toolList div label {
    color: var(--theme-color-4);
    font-size: 14px;
}

.placeholder {
    margin: auto;
    font-size: 14px;
    color: var(--theme-color-2);
}