@import "../../StyleConstants.css";

.toolbar {
    border-left: 1px solid var(--theme-color-2);
    width: 10%;
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 15px auto 5px;
    font-weight: bold;
    width: min-content;
    color: var(--theme-color-4);
}

.elementButtonsContainer {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20%;
}

.elementButtonsContainer div {
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.addRect {
    background: url('./res/rectangle.svg');
}

.addTriangle {
    background: url('./res/triangle.svg');
}

.addCircle {
    background: url('./res/circle.svg');
}

.addPicture {
    background: url('./res/picture.svg');
}

.addText {
    background: url('./res/text.svg');
}

.borderTools {
    height: 6%;
    display: flex;
}

.borderTools input {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
}

.placeholder {
    margin: auto;
    font-size: 14px;
    color: var(--theme-color-2);
}