.slide {
    margin: 5px;
    min-height: 40px;
    border: #969696 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide:hover {
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.46)
}

.selected {
    border-color: #038fee;
    border-width: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}